<br/>
<div class="container-sm">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4" style="width: 100px;">
        <img src="<%= @user.photo %>" class="img-fluid rounded" alt="User Photo">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= @user.name %></h5>
          <p class="card-text"><small class="text-muted">Number of posts: <%= @user.post_counter %></small></p>
        </div>
      </div>
    </div>
  </div>
  <% @posts.each do |post| %>
    <div class="card border-success mb-3">
      <div class="card-body text-success">
        <a href = '<%= user_post_path(@user, post) %>'>
          <h5 class="card-title">Post #<%= @posts.index(post) + 1 %></h5>
        </a>
        <h5>Post Title: <%= post.title %> </h5>
        <p class="card-text"><%= post.text %></p>
        <div class="card-text">
          <span class="card-text">Comments: <%= post.comments_counter %></span>
          <span class="card-text">Likes: <%= post.likes_counter %></span>
          <hr>
          <div>
            <% post.comments.each do |comment|%>
              <p class = "m-0"><strong><%= comment.author.name%></strong>: 
                <%= comment.text%>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
