<br/>
<div class="container-sm">
  <div class="card border-success mb-3">
    <div class="card-body text-success">
      <div class="d-flex justify-content-between">
        <div>
          <h4><span class="card-title">Post #<%= @post_id %></span> <span>by <%= @post.author.name %></span></h4>
        </div>
        <div>
          <span class="card-text">Comments: <%= @post.comments_counter%></span>
          <span class="card-text">Likes: <%= @post.likes_counter%></span>
        </div>
      </div>
      <h5>Post Title: <%= @post.title %></h5>
      <p class="card-text"><%= @post.text %></p>
      <% if @post.author.id == current_user.id || current_user.admin? %>
        <%= button_to 'Delete Post', user_post_path(@post.author, @post), method: :delete, class: 'btn btn-danger' %>
      <% end %>
      <div class= "card-text">
        <hr>
        <div>
          <% @post.comments.each do |comment|%>
            <div class="d-flex justfy-content">
              <p class = "m-0 d-flex"><strong><%= comment.user.name%></strong>: 
                <%= comment.text%>
              </p>
              <% if can? :destroy, comment %>
                <%= button_to 'Delete', user_post_comment_path(@post.author, @post, comment), method: :delete, class: 'btn btn-light text-danger btn-sm'%>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

